@{
    ViewData["Title"] = "Order Confirmation";
}

<h1>Order Confirmation</h1>

<div class="jumbotron" style="background-color:rgba(8,163,65,0.6);">
    <h1 class="display-4">Order Confimed Successfully!!!!</h1>
    <p class="lead">Please pay by Cash</p>
    <hr class="my-4">
</div>
<a href='@Url.Action("Index","Home")'>
    <input type="button" value="Back to Home" class="btn btn-primary" />
</a>
