@{
    ViewData["Title"] = "Order Confirmation";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<h1>Order Confirmation</h1>

<div class="jumbotron" style="background-color:rgba(8,163,65,0.6);">
    <h1 class="display-4">Thanks for Ordering!!!!</h1>
    <p class="lead">Please pay by Cash</p>
    <hr class="my-4">
</div>
<a href='@Url.Action("Index","Home")'>
    <input type="button" value="Back to Home" class="btn btn-primary" />
</a>
