@model IEnumerable<PizzaOrderingSystemWebMVC.Models.PizzaDetail>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1> @ViewBag.UserName</h1>
    @*<div>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem=> item.PizzaName)
                </td>
            </tr>

        }
    </div>*@

</body>
</html>
